.inp {
    margin-left: 7%;
    width: 60%;
    border: 1px solid yellow;
    height: 30px;
    font-size: 16px;
 }

 .flag{
    display: inline-block;
    padding: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

@media screen and (min-width:250px) and (max-width:850px) {
    input[type="checkbox"] {
        margin-top: 3%;
    }
}

 @media  screen and (min-width: 250px) and (max-width: 500px){

    .inp{
        margin-bottom: 5%;
    }
     
 }