.post__list {
    color: white;
    list-style-type: none;
    height: 300px;
}

 h2 {
    text-align: center;
}



 @media screen and (min-width:200px) and (max-width:650px){

     .post__list {
        margin-left: -15%;
        width: 100%;
    }
}

@media screen and (min-width:350px) and (max-width:450px){
    h2 {
        text-align: center;
        margin-right: 10%;
    }
}

@media screen and (min-width:250px) and (max-width:350px){
    h2 {
        text-align: center;
        margin-right: 25%;
    }
}